<ion-header>
    <ion-toolbar>
        <div class="menu-top">
            <img class="wptimg-logo-img-top center" src="assets/imgs/bg.png" (click)="goLoginPage()" />
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="formRequestResetPassword" (ngSubmit)="onRequest(formRequestResetPassword.value)" novalidate>

        <div class="grid">

            <h1 class="title">
                Informe o seu email
            </h1>

            <h3 class="description">
                Você receberá um código de confirmação.
            </h3>

            <ion-item>
                <ion-label position="floating">email:</ion-label>
                <ion-input type="text" formControlName="email" #inputEmail>
                </ion-input>
            </ion-item>

            <button type="submit" class="btn-primary" [disabled]="!formRequestResetPassword.valid">
                Enviar
            </button>

            <button type="button" class="btn-secondy" (click)="goLoginPage()">
                Cancelar
            </button>

        </div>

    </form>

</ion-content>