<ion-content>

    <form [formGroup]="formSchedule" (ngSubmit)="reserve(formSchedule.value)" novalidate>

        <div class="grid">

            <h1 class="title">
                Reserva de Espaço
            </h1>

            <ion-item>
                <ion-label position="floating">departamento:</ion-label>
                <ion-select formControlName="departament" placeholder="Selecione" (ionChange)="loadRooms()"
                    interface="popover">
                    <ion-select-option *ngFor="let departament of departaments$ | async" value="{{departament.id}}">
                        {{departament.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="floating">sala:</ion-label>
                <ion-select formControlName="room" placeholder="Selecione" [disabled]="roomDisable$ | async"
                    (ionChange)="loadTables()" interface="popover">
                    <ion-select-option *ngFor="let room of rooms$ | async" value="{{room.id}}">
                        {{room.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="floating">mesa:</ion-label>
                <ion-select formControlName="table" placeholder="Selecione" [disabled]="tableDisable$ | async" interface="popover">
                    <ion-select-option *ngFor="let table of tables$ | async" value="{{table.id}}">
                        {{table.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Quantidade de Cadeiras</ion-label>
                <ion-input type="number" formControlName="totalWorkPositions" [disabled]="selectedWorkTotalPosition"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Data Início</ion-label>
                <ion-datetime formControlName="startDate" displayFormat="DD/MM/YYYY"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Data Final</ion-label>
                <ion-datetime formControlName="endDate" displayFormat="DD/MM/YYYY"></ion-datetime>
            </ion-item>

            <button type="submit" class="btn-primary" [disabled]="!formSchedule.valid">
                Agendar
            </button>

            <button type="button" class="btn-secondy" (click)="goHomePage()">
                Cancelar
            </button>

        </div>

    </form>

</ion-content>