<ion-header>
    <ion-toolbar>
        <div class="menu-top">
            <img class="wptimg-logo-img-top center" src="assets/imgs/bg.png" (click)="goLoginPage()" />
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="formReceivedCodeConfirmation" (ngSubmit)="onConfirmed(formReceivedCodeConfirmation.value)" novalidate>

        <div class="grid">

            <h1 class="title">
                Informe o seu código
            </h1>

            <ion-item>
                <ion-label position="floating">código:</ion-label>
                <ion-input type="text" formControlName="code" #inputCode>
                </ion-input>
            </ion-item>

            <button type="submit" class="btn-primary" [disabled]="!formReceivedCodeConfirmation.valid">
                Enviar
            </button>

            <button type="button" class="btn-secondy" (click)="goLoginPage()">
                Cancelar
            </button>

        </div>

    </form>

</ion-content>