<ion-header>
    <ion-toolbar>
        <div class="menu-top">
            <img class="wptimg-logo-img-top center" src="assets/imgs/bg.png" (click)="goLoginPage()" />
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="formNewPassword" (ngSubmit)="onUpdate(formNewPassword.value)" novalidate>

        <div class="grid">

            <h1 class="title">
                Informe o seu código
            </h1>

            <ion-item>
                <ion-label position="floating">nova senha:</ion-label>
                <ion-input type="password" formControlName="password" #inputPassword>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">confirme senha:</ion-label>
                <ion-input type="password" formControlName="confirmPassword">
                </ion-input>
            </ion-item>

            <button type="submit" class="btn-primary" [disabled]="!formNewPassword.valid">
                Enviar
            </button>

            <button type="button" class="btn-secondy" (click)="goLoginPage()">
                Cancelar
            </button>

        </div>

    </form>

</ion-content>