<ion-content>
    <form [formGroup]="formSearchPlace" (ngSubmit)="onSearch(formSearchPlace.value)" novalidate>

        <div class="grid">

            <ion-item>
                <ion-label position="floating">
                    Informe a cidade ou nome da empresa
                </ion-label>
                <ion-input formControlName="keyWord" #inputKeyWord></ion-input>
            </ion-item>

            <button type="submit" class="btn-primary" [disabled]="!formSearchPlace.valid">
                Localizar
            </button>

        </div>

    </form>
</ion-content>