/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}

.grid {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ml-3 {
    margin-left: 3px;
}

.mt-50 {
    margin-top: 50px;
}

.btn-primary {
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    background-color: #3BB0A2;
}

.btn-secondy {
    color: #232323;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

form {
    width: 100%;
    padding: 25px;  
}

form ion-list {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.wptimg-logo-img-top {
    height: 45px;
}

.menu-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.menu-top ion-icon {
    zoom: 2;
}